.categories-area {
  width: 100%;
}

.category-projects-area {
  gap: 24px;
}

.project-card {
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.bg-github {
  background-color: #7a7a7a !important;
  color: white !important;
}

.c-pointer {
  cursor: pointer;
}

.c-pointer:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
}

.header {
  justify-content: space-between;
}

.hackathon-card {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .header {
    justify-content: center;
  }

  .hackathon-card {
    width: 100%;
  }

  .container-fluid {
    padding-right: 0px !important;
  }
}